@font-face {
  font-family: 'RubikMonoOne';
  src: url(assets/fonts/RubikMonoOne-Regular.ttf)
}

QFrame#Library {
  background-color: black;
}

QLabel#lib_label {
  color: white;
  font-family: "RubikMonoOne";
  font-weight: 700;
  font-size: 15px;
}

QFrame#playlists {
  background-color: black;
}

QScrollArea {
  background-color: black;
  border: 0px;
}

QScrollBar:vertical {
  background: transparent;
  width: 0px;
  margin: 0px;
}
