@font-face {
  font-family: 'RubikMonoOne';
  src: url(assets/fonts/RubikMonoOne-Regular.ttf)
}

QFrame#MediaInterface {
  background-color: black;
}

QPushButton#PlayingArt {
  background-color: rgb(217,217,217);
  border-radius: 0
}

QLabel#name {
  color: white;
  font-family: "RubikMonoOne";
  font-weight: 700;
}

QLabel#artist {
  color: white;
  font-family: "RubikMonoOne";
  font-weight: 700;
}