@font-face {
  font-family: 'RubikMonoOne';
  src: url(assets/fonts/RubikMonoOne-Regular.ttf)
}

QPushButton#art {
  background-color: rgb(217, 217, 217);
  border: 0px
}

QPushButton#name {
  font-family: "RubikMonoOne";
}

QFrame#PlaylistPage {
  background-color: yellow;
}

QFrame#HeaderPanel {
  background-color: pink;
}